{% extends 'base.html' %}

{% block header %}
    <h1 class="header-login">{% block title %}Login{% endblock %}</h1>
{% endblock %}

{% block content %}
    <div class="box">
        <form method="post">
            <label for="username" class="label-form">Username</label>
            <input name="username" class="auth-form" id="username" required>
            <label for="password" class="label-form">Password</label>
            <input type="password" name="password" class="auth-form" id="password" required>
            <input type="Submit" class="btn-submit" value="Login">
        </form>
    </div>
{% endblock %}
