{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}New Post{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="box">
    <form method="post">
        <label for="title" class="label-form">Title</label>
        <input name="title" class="auth-form" id="title" value="{{request.form['title']}}" required>
        <label for="body" class="label-form">Body</label>
        <textarea name="body" class="auth-form" id="body" value="{{request.form['body']}}" required></textarea>
        <input type="Submit" class="btn-submit" value="Confirm">
    </form>
</div>
{% endblock %}